.projects .swiper {
  width: 100%;
  height: 50vh;
}

.projects .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}